---

dependency:
  name: galaxy
driver:
  name: podman
lint: |
  set -e
  yamllint .
  ln -fs molecule/default/requirements.yml
  ansible-lint
  rm -f requirements.yml
platforms:
{% for platform in MOLECULE_DISTROS %}
  - name: firewall-{{ platform.name }}-node1
    image: "{{ platform.image }}"
{% if platform.kernel_memory is defined %}
    kernel_memory: {{ platform.kernel_memory }}
{% endif %}
{% if platform.memory is defined %}
    memory: {{ platform.memory }}
{% endif %}
    rhsm: {{ platform.rhsm | default(False) }}
    command: ${MOLECULE_DOCKER_COMMAND:-""}
{% if platform.environment is defined %}
    environment:
{% for key, value in platform.environment.items() %}
      {{ key }}: "{{ value }}"
{% endfor %}
{% endif %}
    volumes:
{% for volume in platform.volumes %}
      - {{ volume }}
{% endfor %}
{% if platform.networks is defined %}
    networks:
{% for network in platform.networks %}
      - name: firewall-{{ network }}
{% endfor %}
{% endif %}
{% if platform.ports is defined %}
    published_ports:
{% for port in platform.ports %}
      - {{ port }}
{% endfor %}
{% endif %}
{% if platform.cgroupns_mode is defined %}
    cgroupns_mode: {{ platform.cgroupns_mode }}
{% endif %}
    privileged: {{ platform.privileged | default(True) }}
    pre_build_image: {{ platform.pre_build_image | default(True) }}
    dockerfile: Dockerfile.{{ platform.name }}.j2
{% endfor %}
provisioner:
  name: ansible
{% if MOLECULE_ANSIBLE_ARGS is defined %}
  ansible_args:
{% for molecule_ansible_arg in MOLECULE_ANSIBLE_ARGS %}
    - {{ molecule_ansible_arg }}
{% endfor %}
{% endif %}
  env:
    ANSIBLE_PIPELINING: "True"
    ANSIBLE_VERBOSITY: 0
  lint:
    name: ansible-lint
  playbooks:
    converge: ${MOLECULE_PLAYBOOK:-converge.yml}
  inventory:
    group_vars: {"linux": {"ansible_user": "vagrant", "ansible_password": "vagrant"}, "windows": {"ansible_user": "vagrant", "ansible_password": "vagrant", "ansible_become_user": "vagrant", "ansible_become_method": "runas", "ansible_connection": "ssh", "ansible_shell_type": "cmd"}}
    host_vars: {}
scenario:
  name: default
verifier:
  name: ansible
